@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'Gotham';
  font-weight: bolder;
  src: local('Gotham'), url('./fonts/gotham-black.woff2') format('woff2');

}
@font-face {
  font-family: 'Gotham';
  font-weight: bold;
  src: local('Gotham'), url('./fonts/gotham-bold.woff2') format('woff2');

}

@font-face {
  font-family: 'Gotham';
  font-weight: normal;
  src: local('Gotham'), url('./fonts/gotham-book.woff2') format('woff2');

}
@font-face {
  font-family: 'Gotham';
  font-weight: lighter;
  src: local('Gotham'), url('./fonts/gotham-light.woff2') format('woff2');

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
